{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Reservierungen</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Uhrzeit</th>
                {% for court in courts %}
                    <th>{{ court.courtNumber }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for i in 0..num_hours %}
                <tr>
                    <td>{{ start_date|date_modify('+' ~ i ~ ' hours')|date('d.m.Y H:i') }}
                        {% for court in courts %}

                    <th> frei</th>

                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
