{% extends 'base.html.twig' %}

{% block title %}Hello ReservationController!{% endblock %}

{% block body %}

    {% for court in courts %}
       {{ court.courtNumber }}
    {% endfor %}
    <div>
        <h1>Hello</h1>

        <table class="table">
            <thead>
            <tr>
                <th>Uhrzeit</th>
                <th>Court 1</th>
                <th>Court 2</th>
                <th>Court 3</th>
                <th>Court 4</th>
            </tr>
            </thead>

            <tr>
                <td>DATUM</td>
                <td>TEST123</td>
                <td>TEST1243</td>
                <td>TEST1243</td>
                <td>TEST1243</td>
            </tr>
        </table>
    </div>
{% endblock %}
